html, body {
	font-family: serif;
	margin: 0px;
}
body {background-color: black}
header{
	background-color: black;
	padding: 20px;
	text-align: center;
}

h1 {font-size: 90px;
color: #DAA520;
text-shadow: 0 10px 20px #DAA520;
padding: 0;}

h2 {text-align: center;
color: white;
text-decoration: underline #DAA520;
}

header img{
	border-radius: 50%;
	width: 350px;
	height: 350px;
	border: 3px solid white;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
img.big-image{
	max-width: 100%;
}
p {text-align: center;
color: white}
p.caption {
	font-size: 16px;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0
	margin: 0;
	text-align: center;
	color: white;
}
a{color:#DAA520;
text-decoration: none;}

footer{
	background-color: black;
	color: grey;
	text-align: center;
}
footer ul li{
	display: inline;
	color: white;
}